<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="edu.cnm.deepdive.lordofthesticks"
  android:screenOrientation="landscape"
  >

  <uses-permission android:name="android.permission.READ_PROFILE"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:screenOrientation="landscape"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.NoActionBar"
    tools:ignore="GoogleAppIndexingWarning"
    android:name=".LotSApp">

    <meta-data android:name="com.google.android.gms.games.APP_ID"
      android:value="@string/app_id" />
    <meta-data android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>

    <activity android:name=".ProfileActivity"
      android:screenOrientation="landscape"
      >
    </activity>
    <activity
      android:name=".Shop"
      android:screenOrientation="landscape"
      >
    </activity>
    <activity
      android:label="@string/title_activity_settings"
      android:name=".Settings"
      android:parentActivityName=".view.MenuScreen"
      android:screenOrientation="landscape">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="edu.cnm.deepdive.lordofthesticks.view.MenuScreen"/>
    </activity>
    <activity
      android:name=".GamePlay"
      android:screenOrientation="landscape">

    </activity>
    <activity
      android:name=".view.MenuScreen"
      android:screenOrientation="landscape">
    </activity>
    <activity
      android:name=".view.Splash"
      android:screenOrientation="landscape"
      tools:ignore="ExtraText">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".google.PlayServices"/>
  </application>

</manifest>